{% extends 'layout/base.html' %}

{% block content %}
  <h3>Hola {{ name }}</h3>

  {% from 'layout/_commentForm.html' import render_field %}
    <div class="row">
      <div class="container">
        <div class="col-6">
          <form method="POST">
            {{ render_field(form.username, class='form-control', placeholder='Username') }}
            {{ render_field(form.email, class='form-control', placeholder='Email') }}
            {{ render_field(form.comment, class='form-control', placeholder='Comment') }}
            {{ render_field(form.honeypot, class='form-control', placeholder='Comment') }}
            <br>
            <input class="btn btn-default" type="submit" value="Send">
          </form>
        </div>
      </div>
    </div>

{% endblock %}
