{% extends 'layout/base.html' %}

{% block content %}
  <h3>Login</h3>

  {% from 'layout/_macro_render_field.html' import render_field %}
    <div class="row">
      <div class="container">
        <div class="col-6">
          <form id="login-form" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {{ render_field(form.username, class='form-control', placeholder='Username') }}
            {{ render_field(form.password, class='form-control', placeholder='Password') }}
            <br>
            <input class="btn btn-default" type="submit" value="Login">
          </form>
        </div>
      </div>
    </div>

{% endblock %}
